<script src="http://vjs.zencdn.net/5.10.2/video.js"></script>
<script src="//cdn.webrtc-experiment.com/RecordRTC.js"></script>

<script src="{f:uri.resource(path: 'node_modules/videojs-record/src/js/videojs.record.js')}"></script>
<script src="{f:uri.resource(path: 'node_modules/jQueryFileUpload/js/vendor/jquery.ui.widget.js')}"></script>
<script src="{f:uri.resource(path: 'node_modules/jQueryFileUpload/js/jquery.iframe-transport.js')}"></script>
<script src="{f:uri.resource(path: 'node_modules/jQueryFileUpload/js/jquery.fileupload.js')}"></script>

<script src="{f:uri.resource(path: 'Vendor/Ym/modules.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/jumper-be-main.min.js')}"></script>
