<link href="http://vjs.zencdn.net/5.10.2/video-js.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<link href="{f:uri.resource(path: 'node_modules/videojs-record/src/css/videojs.record.css')}" rel="stylesheet">
<link href="{f:uri.resource(path: 'StyleSheets/be.main.css')}" rel="stylesheet">
