
<div class="video-area storage-item">
	<h3>
		<f:translate key="LLL:EXT:lms3videojumper/Resources/Private/Language/locallang_m1.xlf:preview.title" />
	</h3>

	<video id="preview" class="vjs-big-play-centered video-js vjs-default-skin" controls></video>
</div>