
<div class="storages storage-item">
	<h3>
		<f:translate key="LLL:EXT:lms3videojumper/Resources/Private/Language/locallang_m1.xlf:storage.title" />
	</h3>

	<label class="pull-right onlyCurrentUserLabel" for="onlyCurrentUser">
		<f:translate key="LLL:EXT:lms3videojumper/Resources/Private/Language/locallang_m1.xlf:storage.mode" />
		<input id="onlyCurrentUser" type="checkbox" {f:if(condition: '{currentUserOnly}', then: 'checked')} />
	</label>

	<f:render partial="RecordsTree" arguments="{_all}"/>
</div>