.susy-container
	@include container
	margin-left: 15px
	margin-right: 15px

.storages
	@include span(4 of 12)
	border-right: 1px solid #ccc
	border-left: 1px solid #ccc
	margin-right: 0
	height: 85%

	h3
		background: #ccc
		text-align: center
		margin-top: 0

	.onlyCurrentUserLabel
		margin-right: 15px
		padding-bottom: 15px

.video-area
	@include span(8 of 12 last)
	margin-left: 0

	h3
		background: #ccc
		text-align: center
		margin-top: 0

	#preview
		width: 100%

.vjs-fullscreen-control.vjs-control
	visibility: hidden


#recorder
	width: 90%
	margin: 10px auto