
<f:layout name="Default" />

<f:section name="Content">
	<f:render partial="Assets/List/Scripts" arguments="{_all}"/>

	<div class="susy-container">

		<f:render partial="List/StorageDefinition" arguments="{_all}"/>
		<f:render partial="List/PreviewDefinition" arguments="{_all}"/>

	</div>
</f:section>