
<f:layout name="Default" />

<f:section name="Content">
	<f:render partial="Assets/Show/Scripts" arguments="{_all}" />

	<f:form action="upload" method="post" enctype="multipart/form-data" id="upload" name="upload" object="{upload}">
		<f:form.upload id="fileupload" name="screenRecord" property="screenRecord" style="display:none;" />

		<video id="recorder" class="video-js vjs-default-skin"></video>

		<div class="progress">
			<div id="uploadProgress" class="progress-bar progress-bar-success" role="progressbar"
				 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0">
			</div>
		</div>

	</f:form>

</f:section>