
<div class="pure-menu pure-menu-horizontal" style="height: 60px;">
	<ul class="pure-menu-list">
		<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
			<a href="#" class="pure-menu-link"><span class="glyphicon glyphicon-cog"></span></a>

			<ul class="pure-menu-children">
				<li class="pure-menu-item">
					<f:link.action action="show" class="pure-menu-link">
						<f:translate key="LLL:EXT:lms3videojumper/Resources/Private/Language/locallang_m1.xlf:action.new" />
					</f:link.action>
				</li>
				<li class="pure-menu-item">
					<f:link.action action="list" class="pure-menu-link">
						<f:translate key="LLL:EXT:lms3videojumper/Resources/Private/Language/locallang_m1.xlf:action.list" />
					</f:link.action>
				</li>
			</ul>
		</li>
	</ul>
</div>