
<div id="storage-tree">
	<ul>
		<f:for each="{allFolders}" as="folder">
			<li data-jstree='{ "type" : "user" }' >{folder.title}
				<ul>
					<f:for each="{folder.dates}" as="date">
						<li data-jstree='{ "type" : "time" }' >
							{date.title}
							<ul>
								<f:for each="{date.files}" as="file">
									<li class="video" data-jstree='{ "type" : "video" }' >{file}</li>
								</f:for>
							</ul>
						</li>
					</f:for>
				</ul>
			</li>
		</f:for>
	</ul>
</div>