{namespace lms3 = Lms3\Lms3videojumper\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

    <div class="video-wrapper" style="max-width:{settings.width}px; max-height:{settings.height}px;">
        <lms3:videoContainer settings="{settings}" >
            <lms3:videoSources sources="{settings.videoFiles}" />
        </lms3:videoContainer>
    </div>

</f:section>