
<f:render partial="Assets/Styles" />
<f:render partial="Assets/Styles" />

<f:render partial="ActionMenu" />

<section class="content">
	<f:render section="Content" />
</section>

<f:render partial="Assets/Scripts" />