<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script>
	var basePath = '{basePath}';
	var	allUserVideos = "{f:uri.action(action: 'list', controller: 'Module')}";
	var	currentUserVideos = "{f:uri.action(action: 'list', controller: 'Module', arguments: { currentOnly: '1' } )}";
	var	removeUrl = "{f:uri.action(action: 'removeVideo', controller: 'Module')}";
	var	renameUrl = "{f:uri.action(action: 'renameVideo', controller: 'Module')}";
</script>