.video-wrapper
  width: 100%
  position: relative
  padding-bottom: 56.25%
  height: 0

.video-js

  height: 100%
  width: 100%
  left: 0
  top: 0
  position: absolute


.audio
  height: 60px
  padding-bottom: 0
  padding-top: 0

.tx-lms3video-jumper
  overflow: hidden