<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>
    var recordFinishedRedirect = "{f:uri.action(action: 'list', controller: 'Module', arguments: { currentOnly: '1' } )}";
</script>